Repository python-semver/python-semver, pull requests merged in 2019-11, with the labels that each got.

#189 Fix #187: Create a squared logo
  CHANGELOG.rst
  docs/conf.py
  docs/logo.svg
Labels: doc, infra

#190 Correct logo width, add white background
  docs/_static/css/default.css
  docs/conf.py
Labels: bug, doc

#193 Fix "pysemver" and "pysemver bump" when called without arguments
  CHANGELOG.rst
  semver.py
  test_semver.py
Labels: bug

#195 Fix #191: Add manpage for pysemver
  .gitignore
  CHANGELOG.rst
  docs/Makefile
  docs/cli.rst
  docs/conf.py
  docs/index.rst
  docs/pysemver.rst
  semver.py
  tox.ini
Labels: doc

#197 Add distribution specific install hints
  CHANGELOG.rst
  docs/install.rst
Labels: doc

#199 Doc: Correct missing parts in installation section
  docs/install.rst
Labels: bug, doc

#200 Extend #186: Add GitHub Action for black formatter
  .github/workflows/black-formatting.yml
Labels: infra

#198 Fix #194 and #114: Update semver regex to version from semver.org
  semver.py
  setup.py
  test_semver.py
Labels: bug

#202 Fix #201: Reformat source code with black
  CHANGELOG.rst
  README.rst
  docs/conf.py
  pyproject.toml
  semver.py
  setup.cfg
  setup.py
  test_semver.py
Labels: enhancement

#204 Fix #203: Use --check option for black (infra)
  .github/workflows/black-formatting.yml
Labels: enhancement, infra
