Repository python-semver/python-semver, pull requests merged in 2023-10, with the labels that each got.

#425 Improve documentation wording & consistency
  README.rst
  docs/contribute/doc-semver.rst
  docs/migration/replace-deprecated-functions.rst
Labels: Doc

#430 Fix #429: bug on serialization to json
  docs/advanced/combine-pydantic-and-semver.rst
Labels: Bug, Doc

#431 Clarify version policy for semver
  README.rst
  changelog.d/pr431.doc.rst
  docs/index.rst
  docs/install.rst
  docs/version-policy.rst
Labels: Doc, Enhancement

#432 Improve external docs with intersphinx extension
  changelog.d/432.doc.rst
  docs/advanced/combine-pydantic-and-semver.rst
  docs/changelog-semver3-devel.rst
  docs/conf.py
  docs/inventories/pydantic.inv
  docs/inventories/python-objects.inv
  docs/migration/replace-deprecated-functions.rst
  docs/usage/access-parts-of-a-version.rst
  docs/usage/access-parts-through-index.rst
  docs/usage/compare-versions.rst
  docs/usage/create-a-version.rst
  docs/version-policy.rst
Labels: Doc, Enhancement

#433 Build 3.0.2 release of semver
  CHANGELOG.rst
  changelog.d/432.doc.rst
  changelog.d/pr417.feature.rst
  changelog.d/pr418.bugfix.rst
  changelog.d/pr420.trivial.rst
  changelog.d/pr421.trivial.rst
  changelog.d/pr426.bugfix.rst
  changelog.d/pr431.doc.rst
  docs/usage/semver-version.rst
  src/semver/__about__.py
Labels: Release_3.x.y

#435 Use meta directive for SEO
  changelog.d/pr435.doc.rst
  docs/advanced/combine-pydantic-and-semver.rst
  docs/advanced/convert-pypi-to-semver.rst
  docs/advanced/create-subclasses-from-version.rst
  docs/advanced/deal-with-invalid-versions.rst
  docs/advanced/display-deprecation-warnings.rst
  docs/advanced/index.rst
  docs/advanced/version-from-file.rst
  docs/api.rst
  docs/build-semver.rst
  docs/contribute/add-changelog-entry.rst
  docs/contribute/doc-semver.rst
  docs/contribute/finish-release.rst
  docs/contribute/index.rst
  docs/contribute/prerequisites.rst
  docs/contribute/release-procedure.rst
  docs/contribute/report-bugs.rst
  docs/contribute/run-test-suite.rst
  docs/index.rst
  docs/install.rst
  docs/migration/index.rst
  docs/migration/migratetosemver3.rst
  docs/migration/replace-deprecated-functions.rst
  docs/pysemver.rst
  docs/usage/access-parts-of-a-version.rst
  docs/usage/access-parts-through-index.rst
  docs/usage/check-compatible-semver-version.rst
  docs/usage/check-valid-semver-version.rst
  docs/usage/compare-versions-through-expression.rst
  docs/usage/compare-versions.rst
  docs/usage/convert-version-into-different-types.rst
  docs/usage/create-a-version.rst
  docs/usage/determine-version-equality.rst
  docs/usage/get-min-and-max-of-multiple-versions.rst
Labels: Doc, Enhancement

#436 Move search box more at the top
  changelog.d/pr436.doc.rst
  docs/_static/css/custom.css
  docs/_templates/layout.html
  docs/conf.py
Labels: Doc, Enhancement
